<div class="relative hero-gradient">
  <div class="absolute inset-0">
    <div class="absolute inset-0 mix-blend-multiply" aria-hidden="true"></div>
  </div>
  <div class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-extrabold tracking-tight text-white sm:text-5xl lg:text-6xl">Discover, Fund &amp; Buy</h1>
    <p class="mt-6 text-xl text-indigo-100 max-w-3xl">Quality comics by Independent creators.</p>
  </div>
</div>