<div class="relative hero-gradient hidden lg:block">
  <div class="absolute inset-0">
    <div class="absolute inset-0 mix-blend-multiply" aria-hidden="true"></div>
  </div>
  <div class="relative max-w-7xl mx-auto py-8 px-4 sm:py-8 sm:px-6 lg:px-8 flex flex-row text-center">
    <img src="https://res.cloudinary.com/drg9hguhu/image/upload/v1711019254/blush_xusbhx.jpg" style="height:500px;" alt="blush cover" />
    <div class="px-8 flex flex-col justify-center">
      <h1 class="text-3xl font-extrabold tracking-tight text-white">
        Blush by <a href="https://www.comix.one/profiles/lorry-jamison-991d2c31b319" class="underline cursor-pointers">
          @Lorry Jamison
        </a>
      </h1>
      <h2 class="text-xl text-white">Published by <a href="https://www.comix.one/stores/kraven-comics-3e0caa7b43ff" class="underline cursor-pointer">
        Kraven Comics</a>
      </h2>
      <p class="text-white text-xl">
        A fun, queer, Young Adult, horror, comedy and a spiritual successor for <a href="https://www.comix.one/products/party-animals-a0da20c1418f" class="underline cursor-pointer">Party Animals</a>
      </p>
      <h2 class="text-xl text-white">
        Coming 27th March 2024
      </h2>
    </div>
  </div>
</div>