<div class="relative hero-gradient">
  <div class="absolute inset-0">
    <div class="absolute inset-0 mix-blend-multiply" aria-hidden="true"></div>
  </div>
  <div class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-extrabold tracking-tight text-white sm:text-4xl lg:text-5xl">Fresh Comics by Indie creators.</h1>
    <p class="mt-6 text-xl text-indigo-100 max-w-3xl">Discover, Crowdfund &amp; Buy.</p>
  </div>
</div>