<div class="lg:flex flex-row hero-gradient hidden max-w-screen-xl mx-auto rounded-lg mt-4">
  <div class="w-1/2">
    <img src="https://res.cloudinary.com/drg9hguhu/image/upload/v1707627808/Comix_1_dcdmkd.png" class="w-full h-full rounded-l-lg" />
  </div>
  <div class="w-1/2 flex items-center justify-center text-center flex flex-col p-6">
      <h1 class="text-4xl font-extrabold tracking-tight text-white">Support your favourite Indie creators.</h1>
      <p class="mt-6 text-xl text-indigo-100 max-w-3xl">Buy comics from Indie creators from across the globe through our marketplace, read them anywhere on our reader.</p>
      <%= link_to "Sign up & Read",
                  new_user_registration_path,
                  class: "mt-3 inline-block px-12 py-3 text-sm font-medium text-white bg-cx-purple border border-cx-purple rounded active:text-cx-purple hover:bg-white hover:text-cx-purple hover:border-white focus:outline-none focus:ring",
                  data: {"umami-event": "Hero-Comics-Link-Click"}
      %>
    </div>
  </div>
</div>