<%= render(PageTitleComponent.new(title: "For Creators")) %>

<div class="container my-12 mx-auto px-4 md:px-12">
  <div class="text-center pt-8 text-4xl font-bold">
    For Creators
  </div>
  <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 sm:py-12 lg:px-8">
    <div class="flex flex-row">
      <div class="px-2">
        <div class="my-1 w-full">
            <article class="overflow-hidden border hover:shadow-lg">
                <header class="flex items-center justify-center leading-tight p-2 md:p-4">
                    <h1 class="text-lg">
                        <p class="no-underline hover:underline text-black">
                            <%= image_tag "pixeltrue-web-design-1.svg" %>
                        </p>
                    </h1>
                </header>
            </article>
        </div>
        <div class="flex my-1 w-full text-center mt-2">
            <div class="text-2xl no-underline text-black m-auto">
                Create &amp; Sell your work.<br/>
                <div class="text-lg">
                  You can bring your work to life with our crowdfunding, sell back catalogue &amp; issues
                  on our marketplace or add it to your crowdfunding campaign in just a few clicks!
                </div>
            </div>
        </div>
      </div>
      <div class="px-2">
        <div class="my-1 w-full">
            <article class="overflow-hidden border hover:shadow-lg">
                <header class="flex items-center justify-center leading-tight p-2 md:p-4">
                    <h1 class="text-lg">
                        <p class="no-underline hover:underline text-black">
                            <%= image_tag "pixeltrue-seo-1.svg" %>
                        </p>
                    </h1>
                </header>
            </article>
        </div>
        <div class="flex my-1 w-full text-center mt-2">
            <div class="text-2xl no-underline text-black m-auto">
                Get discovered<br/>
                <div class="text-lg">
                  Get discovered by new people through our marketplace.
                </div>
            </div>
        </div>
      </div>
      <div class="px-2">
        <div class="my-1 w-full">
            <article class="overflow-hidden border hover:shadow-lg">
                <header class="flex items-center justify-center leading-tight p-2 md:p-4">
                    <h1 class="text-xl">
                        <p class="no-underline hover:underline text-black">
                            <%= image_tag "pixeltrue-study-from-books-1.svg" %>
                        </p>
                    </h1>
                </header>
            </article>
        </div>
        <div class="flex my-1 w-full text-center mt-2">
            <div class="text-2xl no-underline text-black m-auto">
                Speak directly with your fans.<br/>
                <div class="text-lg">
                  Speak with your fans directly, retain them, survey ideas and retain them.
                </div></br/>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container my-12">
      <div class="flex flex-wrap -mx-1 lg:-mx-4 text-center">
        <p class="mb-4">
            At this point, we're only accepting Indie cretors and small press that have a back-catalogue and new projects planned this year.
            Please fill out the form below and we will be in touch asap to get you onboard!
        </p>
        <iframe class="airtable-embed" src="https://airtable.com/embed/shrDp4z8uPE4qBXb1?backgroundColor=purple" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
      </div>
  </div>
</div>
