<%= render(PageTitleComponent.new(title: "Comix - Free Comic Book Day")) %>
<div class="relative border-t border-cx-purple">
  <div class="absolute inset-0">
    <div class="absolute inset-0 mix-blend-multiply" aria-hidden="true"></div>
  </div>
  <div class="flex flex-col items-center max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-extrabold tracking-tight text-black sm:text-4xl lg:text-5xl">Free Comic Book Day 2023</h1>
    <img class="w-1/2" src="https://res.cloudinary.com/drg9hguhu/image/upload/v1683095011/fcbd/free-comic-book-day.jpg" />
  </div>
</div>

<section>
  <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 sm:py-12 lg:px-8">
    <header>
      <h2 class="text-xl font-bold text-gray-900 sm:text-3xl text-center">
        Our Creators
      </h2>
    </header>

    <ul class="grid gap-4 mt-8 sm:grid-cols-2 lg:grid-cols-4">
      <li>
        <a href="https://twitter.com/peculiarplanets" target="_blank" class="block overflow-hidden group">
          <img
            src="https://res.cloudinary.com/drg9hguhu/image/upload/v1683095012/fcbd/anna.jpg"
            alt=""
            class="h-[350px] w-full rounded-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
          />

          <div class="relative pt-3 bg-white">
            <p class="mt-2">
              <span class="sr-only"> Name </span>
              <span class="tracking-wider text-gray-900"> Anna Everts </span>
            </p>
          </div>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/CoffeeTimeComix" target="_blank" class="block overflow-hidden group">
          <img
            src="https://res.cloudinary.com/drg9hguhu/image/upload/v1683095011/fcbd/image.png"
            alt=""
            class="h-[350px] w-full rounded-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
          />

          <div class="relative pt-3 bg-white">
            <p class="mt-2">
              <span class="sr-only"> Name </span>
              <span class="tracking-wider text-gray-900"> John Kratky </span>
            </p>
          </div>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/FraserC69" target="_blank" class="block overflow-hidden group">
          <img
            src="https://res.cloudinary.com/drg9hguhu/image/upload/v1683095011/fcbd/fraser.jpg"
            alt=""
            class="h-[350px] w-full rounded-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
          />

          <div class="relative pt-3 bg-white">
            <p class="mt-2">
              <span class="sr-only"> Name </span>
              <span class="tracking-wider text-gray-900"> Fraser Campbell </span>
            </p>
          </div>
        </a>
      </li>

      <li>
        <a href="https://www.instagram.com/RavenWritinDesk/" target="_blank" class="block overflow-hidden group">
          <img
            src="https://res.cloudinary.com/drg9hguhu/image/upload/v1683114606/fcbd/lee.jpg"
            alt=""
            class="h-[350px] w-full rounded-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
          />

          <div class="relative pt-3 bg-white">
            <p class="mt-2">
              <span class="sr-only"> Name </span>

              <span class="tracking-wider text-gray-900"> Lee Newman </span>
            </p>
          </div>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/Writepeaceful" target="_blank" class="block overflow-hidden group">
          <img
            src="https://res.cloudinary.com/drg9hguhu/image/upload/v1683114724/fcbd/gary.jpg"
            alt=""
            class="h-[350px] w-full rounded-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
          />

          <div class="relative pt-3 bg-white">
            <p class="mt-2">
              <span class="sr-only"> Name </span>

              <span class="tracking-wider text-gray-900"> Gary Chong </span>
            </p>
          </div>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/Anti_Drummer" target="_blank"  class="block overflow-hidden group">
          <img
            src="https://res.cloudinary.com/drg9hguhu/image/upload/v1683114770/fcbd/Jon.jpg"
            alt=""
            class="h-[350px] w-full rounded-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
          />

          <div class="relative pt-3 bg-white">
            <p class="mt-2">
              <span class="sr-only"> Name </span>

              <span class="tracking-wider text-gray-900"> Jon Westhoff </span>
            </p>
          </div>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/comics_raze" target="_blank"  class="block overflow-hidden group">
          <img
            src="https://res.cloudinary.com/drg9hguhu/image/upload/v1683114981/fcbd/sam-willis.avif"
            alt=""
            class="h-[350px] w-full rounded-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
          />

          <div class="relative pt-3 bg-white">
            <p class="mt-2">
              <span class="sr-only"> Name </span>

              <span class="tracking-wider text-gray-900"> Sam Willis </span>
            </p>
          </div>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/CultleaderTWIT" target="_blank" class="block overflow-hidden group">
          <img
            src="https://res.cloudinary.com/drg9hguhu/image/upload/v1683115323/fcbd/todd.jpg"
            alt=""
            class="h-[350px] w-full rounded-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
          />

          <div class="relative pt-3 bg-white">
            <p class="mt-2">
              <span class="sr-only"> Name </span>

              <span class="tracking-wider text-gray-900"> Todd Steinberg </span>
            </p>
          </div>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/RandyStoneCotW" target="_blank" class="block overflow-hidden group">
          <img
            src="https://res.cloudinary.com/drg9hguhu/image/upload/v1683115359/fcbd/randy-stone.jpg"
            alt=""
            class="h-[350px] w-full rounded-full rounded-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
          />

          <div class="relative pt-3 bg-white">
            <p class="mt-2">
              <span class="sr-only"> Name </span>

              <span class="tracking-wider text-gray-900"> Randy Stone </span>
            </p>
          </div>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/JamesWTheWriter" target="_blank" class="block overflow-hidden group">
          <img
            src="https://res.cloudinary.com/drg9hguhu/image/upload/v1683115534/fcbd/20230330_163930_0001.png"
            alt=""
            class="h-[350px] w-full rounded-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
          />

          <div class="relative pt-3 bg-white">
            <p class="mt-2">
              <span class="sr-only"> Name </span>

              <span class="tracking-wider text-gray-900"> James Walton </span>
            </p>
          </div>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/tedd_walley" target="_blank" class="block overflow-hidden group">
          <img
            src="https://res.cloudinary.com/drg9hguhu/image/upload/v1683115617/fcbd/image1.jpg"
            alt=""
            class="h-[350px] w-full rounded-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
          />

          <div class="relative pt-3 bg-white">
            <p class="mt-2">
              <span class="sr-only"> Name </span>

              <span class="tracking-wider text-gray-900"> Tedd Walley </span>
            </p>
          </div>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/aJeffSchiller" target="_blank" class="block overflow-hidden group">
          <img
            src="https://res.cloudinary.com/drg9hguhu/image/upload/v1683115832/fcbd/0_cQIdDBYLIZkO1aDA.jpg"
            alt=""
            class="h-[350px] w-full rounded-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
          />

          <div class="relative pt-3 bg-white">
            <p class="mt-2">
              <span class="sr-only"> Name </span>

              <span class="tracking-wider text-gray-900"> Jeff Schiller </span>
            </p>
          </div>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/RichardFairgray" target="_blank" class="block overflow-hidden group">
          <img
            src="https://res.cloudinary.com/drg9hguhu/image/upload/v1683115898/fcbd/L62q6Vph_400x400.jpg"
            alt=""
            class="h-[350px] w-full rounded-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
          />

          <div class="relative pt-3 bg-white">
            <p class="mt-2">
              <span class="sr-only"> Name </span>

              <span class="tracking-wider text-gray-900"> Richard Fairgray </span>
            </p>
          </div>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/artofwarmanga" target="_blank" class="block overflow-hidden group">
          <img
            src="https://res.cloudinary.com/drg9hguhu/image/upload/v1683115996/fcbd/pamyam.jpg"
            alt=""
            class="h-[350px] w-full rounded-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
          />

          <div class="relative pt-3 bg-white">
            <p class="mt-2">
              <span class="sr-only"> Name </span>

              <span class="tracking-wider text-gray-900"> Pam Yan </span>
            </p>
          </div>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/dieboldcomics" target="_blank" class="block overflow-hidden group">
          <img
            src="https://res.cloudinary.com/drg9hguhu/image/upload/v1670068172/diebold/john-holland.png"
            alt=""
            class="h-[350px] w-full rounded-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
          />

          <div class="relative pt-3 bg-white">
            <p class="mt-2">
              <span class="sr-only"> Name </span>

              <span class="tracking-wider text-gray-900"> John Holland </span>
            </p>
          </div>
        </a>
      </li>

      <li>
        <a href="https://twitter.com/dieboldcomics" target="_blank" class="block overflow-hidden group">
          <img
            src="https://res.cloudinary.com/drg9hguhu/image/upload/v1683266451/FellProfile_juyk5n.jpg"
            alt=""
            class="h-[350px] w-full rounded-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
          />

          <div class="relative pt-3 bg-white">
            <p class="mt-2">
              <span class="sr-only"> Name </span>

              <span class="tracking-wider text-gray-900"> Fell Hound </span>
            </p>
          </div>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/dieboldcomics" target="_blank" class="block overflow-hidden group">
          <img
            src="https://res.cloudinary.com/drg9hguhu/image/upload/v1683266508/brent-fischer_dmndvg.jpg"
            alt=""
            class="h-[350px] w-full rounded-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
          />

          <div class="relative pt-3 bg-white">
            <p class="mt-2">
              <span class="sr-only"> Name </span>

              <span class="tracking-wider text-gray-900"> Brent Fischer </span>
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
<%= render(MailchimpComponent.new()) %>
<section>
  <%= link_to "Full FCBD Bundle!", "https://www.dropbox.com/scl/fo/tmhvrw2svmmjsj4t89pqz/h?dl=0&rlkey=zj5obrfgpto6u7ccl2ai5x3ns", target: "blank", class: "inline-flex items-center justify-center rounded-md border border-transparent bg-cx-purple px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:ring-offset-2 sm:w-auto" %>
</section>