<%= render(PageTitleComponent.new(title: "Creators Index")) %>

<section>
  <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 sm:py-12 lg:px-8">
    <header>
      <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
        Our Creators
      </h2>
    </header>

    <ul class="grid gap-4 mt-4 grid-cols-4">
      <% @creator_profiles.each do |creator_profile| %>
        <% cache creator_profiles do %>
          <%= render(CreatorProfiles::CardComponent.new(creator_profile: creator_profile)) %>
        <% end %>
      <% end %>
    </ul>
  </div>
  <%= render(PaginationComponent.new(pagy: @pagy)) %>
</section>