<div class="text-xl sm:hidden md:hidden lg:flex items-start justify-around px-4">
    <% @product.collaborations.each do |collaboration| %>
        <%= link_to profile_path(collaboration.creator_profile),
                    class: "hover:text-cx-purple hover:underline flex flex-col text-center items-center justify-center" do %>
            <%= render(CreatorProfiles::AvatarComponent.new(creator_profile: collaboration.creator_profile)) %>
            <div><%= collaboration.creator_profile&.name %></div>
            <div><%= collaboration.creator_profile&.skills %></div>
        <% end %>
    <% end %>
</div>
