<h1 class="text-xl lg:text-3xl font-bold pt-8 lg:pt-0 px-2 text-center"><%= @product.name %></h1>
<div class="mx-auto lg:mx-0 pt-3 border-b-2 divider-line opacity-25"></div>
<div class="pt-8 text-md text-justify px-2 tracking-tight"><%= @product.description&.html_safe %></div>
