<div class="block lg:hidden">
  <% if @product.issue_cover.present? %>
    <div class="rounded-lg shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center" style="background-image: url(<%= url_for(@product.issue_cover) %>)"></div>
  <% else %>
    <div class="rounded-lg shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center" style="background-image: url('https://img.icons8.com/dotty/70/000000/full-image.png')"></div>
  <% end %>
  <div class="w-full text-center text-2xl">
    <span class="mx-2 p-2">&#36;<%= @product.price %></span>
  </div>
  <div data-controller='toggle' class="block lg:hidden w-full text-center">
    <div data-action="click->toggle#toggle touch->toggle#toggle"
         class="p-4 leading-none cursor-pointer border rounded text-cx-lavender-blush bg-cx-purple hover:border-transparent hover:text-cx-purple hover:bg-cx-lavender-blush hover:border-cx-purple">
      Credits
    </div>
    <div data-toggle-target='toggleable' class="m-4 hidden">
      <%= render(Products::CreditsComponent.new(product: @product)) %>
    </div>
  </div>

