<div class="block lg:hidden">
  <% if @product.issue_cover.present? %>
    <%= image_tag @product.issue_cover, class: "rounded-lg shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center" %>
  <% else %>
    <%= image_tag "https://img.icons8.com/dotty/70/000000/full-image.png", class: "rounded-lg shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center" %>
  <% end %>
  <div class="w-full text-center text-2xl pt-4">
    <span class="mx-2 p-2">&#36;<%= @product.price %></span>
  </div>
</div>
