<div class="text-center text-3xl">
  You may also like
</div>
<div class="container my-12 mx-auto px-4 md:px-12">
  <div class="py-10 border-t text-center">
    <ul class="grid gap-4 mt-4 sm:grid-cols-2 lg:grid-cols-4">
      <% @products.each do |product| %>
        <% cache product do %>
          <%= render(Products::CardComponent.new(product: product, number_of_products: 4)) %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
