<div class="text-center text-3xl">
  You may also like
</div>
<div class="container my-12 mx-auto px-4 md:px-12">
  <div class="py-10 border-t text-center">
    <div class="flex flex-wrap justify-center">
      <% @products.each do |product| %>
        <%= render(Products::CardComponent.new(product: product, number_of_products: 4)) %>
      <% end %>
    </div>
  </div>
</div>