<div class="flex flex-col items-center justify-center py-4">
    <div class="flex flex-row items-center justify-center">
        <%= link_to "Back to Purchases", purchases_path, class: "px-4 underline" %>
        <h1 class="text-2xl font-bold py-4"><%= @product.name %></h1>
    </div>
    <div data-controller="pdf-viewer"
         data-navbar-target="pdf"
         data-pdf-viewer-pdf-value='<%= product_file_url %>'
         id='viewer'
         class="w-full m-0 auto h-screen px-8">
    </div>
</div>