<div class="w-1/2 flex flex-col">
    <div class="text-xl">
      <%= @product.name %>
    </div>
    <div class="py-4 w-1/2">
      <%= product_image %>
    </div>
</div>

<div class="w-1/2 text-xl px-4 flex flex-col">
    <h2 class="text-lg font-bold">Actions</h2>
    <%= product_file %>
</div>
