<div class="w-1/2 flex flex-col items-center justify-center">
    <div class="text-xl">
      <%= @product.name %>
    </div>
    <div class="py-4 w-1/2">
      <%= product_image %>
    </div>
</div>

<div class="w-1/2 text-xl px-4 flex flex-col items-center justify-center">
    <%= link_to "Read", purchase_path(@product.slug), data: { turbo: false }, class: "inline-flex text-center border border-transparent bg-cx-purple px-8 py-2 text-xl font-medium text-white shadow-sm hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:ring-offset-2 sm:w-auto" %>
    <div class="py-2"></div>
    <%= product_file %>
</div>
