<%= link_to store_path(@product.store), class: "flex flex-col items-center justify-center py-4" do %>
  <div class="mt-4">
    <%= render(Stores::DisplayImageComponent.new(store: @product.store)) %>
  </div>
  <div class="mt-4 text-2xl hover:text-cx-purple hover:underline font-bold">
    <%= @product.store.name %>
  </div>
<% end %>
