<%= render(PageTitleComponent.new(title: "Cart")) %>

<section>
  <div class="max-w-screen-xl px-4 py-2 mx-auto sm:px-6 lg:px-8">
    <header>
      <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
        Cart
      </h2>
    </header>
    <ul class="flex flex-wrap flex-row justify-center items-center">
      
    </ul>
  </div>
</section>