<%= render(PageTitleComponent.new(title: "Cart")) %>

<section>
  <div class="max-w-screen-xl px-4 py-2 mx-auto sm:px-6 lg:px-8">
    <div class="flex flex-wrap justify-center items-center">
      <%= turbo_frame_tag "cart" do %>
        <%= render(CartComponent.new(cart: @current_cart)) %>
      <% end %>
    </div>
  </div>
</section>