<section>
  <div class="mx-auto max-w-screen-xl">
    <div class="mx-auto max-w-3xl">
      <header class="text-center">
        <h1 class="text-xl font-bold text-gray-900 sm:text-3xl">Your Cart</h1>
      </header>
      <div class="mt-8">
        <% if line_items.count > 0 %>
          <ul class="space-y-4">
            <% line_items.each do |line_item| %>
              <li class="flex flex-row items-center gap-4 py-4">
                <%= render(Cart::ItemComponent.new(line_item: line_item)) %>
              </li>
            <% end %>
          </ul>
        <% end %>

        <div class="mt-8 flex justify-center border-t border-gray-100 pt-8">
          <div class="w-screen max-w-lg space-y-4">
            <dl class="space-y-0.5 text-sm text-gray-700">
              <div class="flex justify-between !text-base font-medium px-4">
                <dt class="font-bold">Total</dt>
                <dd><%= formatted_total %></dd>
              </div>
            </dl>

            <div class="flex justify-end">
              <%= login_and_checkout %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>