<nav class="flex text-center items-center justify-center flex-wrap bg-white p-6 border-b text-md">
    ABN 53 870 537 406
    <div class="px-36">We’d like to acknowledge the Traditional Owners of the land,
        the Cabrogal Clan of the Darug Nation and pay our respects to Elders past and present.
        We extend that respect to Aboriginal and Torres Strait Islander peoples.
        It is also acknowledged that the land was accessed by peoples of the Tharawal and Gandangara Nations. 
    </div>
</nav>