<nav class="flex items-center justify-between flex-wrap bg-white p-6 border-b text-lg">
  <div class="flex items-center justify-center flex-no-shrink text-cx-beaver mr-6">
    <%= link_to root_path, class: "flex flex-row items-center" do %>
        <%= render(LogoComponent.new(classes: "w-16")) %>
        <div class="text-3xl bold font-black self-center">COMI<i>X</i></div>
    <% end %>
  </div>
  <div class="block lg:hidden">
    <button class="navbar-burger flex items-center px-3 py-2 border rounded text-cx-beaver border-lavender-blush hover:text-cx-beaver hover:border-white"
            aria-label="menu" aria-expanded="false" data-target="toggleNav">
      <svg class="fill-current h-3 w-3 sm:w-10 sm:h-10" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </button>
  </div>
  <div id="toggleNav" class="navbar-menu w-full ns:block lg:flex lg:items-center lg:w-auto sm:hidden md:hidden">
    <div class="lg:flex-end flex flex-row items-center">
      <%= render(CartIconComponent.new()) %>
      <%= link_to 'Posts',
                  posts_path,
                  class: "block mt-4 lg:inline-block lg:mt-0 text-cx-beaver font-black hover:text-cx-purple mr-4 navbar-link" %>
    </div>
  </div>
</nav>
