<div id="revue-embed" class="mx-auto max-w-md">
  <strong
    class="block text-center text-xl font-medium text-black sm:text-3xl"
  >
    Get articles, interviews & news from the universe of Comix in your mailbox!
  </strong>
  <form action="https://www.getrevue.co/profile/comix_app/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank" class="mt-6">
    <div class="relative max-w-lg">
      <label class="sr-only" for="member_email"> Email </label>
      <input
        class="revue-form-field w-full rounded-md border-white p-4 pr-32 text-sm font-medium"
        id="member_email"
        type="email"
        placeholder="john@doe.com"
        name="member[email]"
      />

      <div class="revue-form-actions">
        <input type="submit"
               class="absolute top-1/2 right-1 -translate-y-1/2 rounded-md border border-transparent bg-cx-purple p-4 text-sm font-medium text-white shadow-sm hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:ring-offset-2"
               value="Subscribe"
               name="member[subscribe]"
               id="member_submit">
      </div>
    </div><br/>
    <div class="revue-form-footer text-xs text-gray-500">By subscribing, you agree with Revue’s <a target="_blank" href="https://www.getrevue.co/terms" class="underline">Terms of Service</a> and <a target="_blank" href="https://www.getrevue.co/privacy" class="underline">Privacy Policy</a>.</div>
  </form>
</div>
