body {
  @apply font-body;
}
a {
  text-decoration: none;
  @apply font-body text-xl font-normal;
}
.navbar-link {
  background-image: linear-gradient(#ff683a, #ff683a);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  &:hover {
    background-size: 100% 3px;
  }
}
.divider-line {
  border-color: #ff683a;
}
.slide {
  display: none;
}
.slide.slide--current {
  display: block;
}

.favourite-hover-fill {
  &:hover {
    stroke: #c73525 !important;
    fill: #c73525 !important;
  }
}

.favourite-clicked-fill {
  stroke: #c73525 !important;
  fill: #c73525 !important;
}

.cart-hover-fill {
  &:hover {
    stroke: #0a8868 !important;
    fill: #0a8868 !important;
  }
}
