body {
  @apply font-body;
}
a {
  text-decoration: none;
  @apply font-body text-xl font-normal;
}
.navbar-link {
  background-image: linear-gradient(#ff683a, #ff683a);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  &:hover {
    background-size: 100% 3px;
  }
}
.divider-line {
  border-color: #ff683a;
}
.slide {
  display: none;
}
.slide.slide--current {
  display: block;
}
.hover-fill:hover {
  stroke: #fc8b7e;
  fill: #fc8b7e;
}