<%= render(PageTitleComponent.new(title: "Stores Index")) %>

<section>
  <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 sm:py-12 lg:px-8">
    <header>
      <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
        Our Stores
      </h2>
    </header>

    <ul class="grid gap-4 mt-4 grid-cols-3">
      <% cache @stores, expires_in: 60.seconds do %>
        <% @stores.each do |store| %>
          <%= render(Stores::CardComponent.new(store: store)) %>
        <% end %>
      <% end %>
    </ul>
  </div>
  <div class="text-center w-full">
    <%== pagy_nav(@pagy) %>
  </div>
</section>