<h2 class="text-2xl text-center mt-16">Create a new Store</h2>
<div class="w-full max-w-4xl m-0 m-auto mt-16 flex">
  <%= image_tag "https://res.cloudinary.com/drg9hguhu/image/upload/v1594394647/comix/undraw_online_information_4ui6.svg", class: "text-center m-auto mb-4 w-1/2 sm:w-full" %>
  <%= render 'stores/form' %>
</div>