<h2 class="text-2xl text-center mt-16">Setup your first Store</h2>
<div class="w-full max-w-4xl m-0 m-auto mt-16 flex">
  <%= image_tag "https://res.cloudinary.com/drg9hguhu/image/upload/v1621605493/pixeltrue-idea-1_qx6xlg.svg", class: "text-center m-auto mb-4 w-1/2 sm:w-full" %>
  <%= render 'stores/form' %>
</div>