<li>
  <%= link_to profile_path(@creator_profile), class: "flex flex-col items-center justify-center overflow-hidden group", data: {"umami-event": "Creator-Card-Creator-Click", "umami-event-product": @creator_profile.name} do %>
    <%= render(CreatorProfiles::AvatarComponent.new(creator_profile: @creator_profile)) %>
    <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-gray-900">
      <%= @creator_profile.name %>
    </h3>
    <p class="text-sm leading-6 text-gray-600"><%= @creator_profile.skills %></p>
  <% end %>
</li>
