<footer class="android-footer mdl-mega-footer">
    <div class="mdl-mega-footer--top-section">
        <div class="mdl-mega-footer--left-section">
            <a class="footer-social" href="https://www.facebook.com/Comix-1938019309763202/" target="_blank">
            <img class="medium-icon" src="https://png.icons8.com/facebook/ios7/25" title="Facebook" width="25" height="25">
            </a>
            &nbsp;
            <img class="medium-icon" src="https://png.icons8.com/twitter/ios7/25" title="Twitter" width="25" height="25">
            &nbsp;
            <img class="medium-icon" src="https://png.icons8.com/medium/color/30" title="Medium" width="30" height="30">
            &nbsp;
            <i class="ion-social-octocat medium-icon"></i>
        </div>
        <div class="mdl-mega-footer--right-section">
            <a class="mdl-typography--font-light" href="#top">
            Back to Top
            <i class="material-icons">expand_less</i>
            </a>
        </div>
    </div>

    <div class="mdl-mega-footer--bottom-section">
        <a class="android-link mdl-typography--font-light" href="">About Us</a>
        <a class="android-link mdl-typography--font-light" href="">Blog</a>
        <a class="android-link mdl-typography--font-light" href="">Terms of Use</a>
        <a class="android-link mdl-typography--font-light" href="">Privacy Policy</a>
    </div>

</footer>
