<footer class='w-full text-center border-t border-grey p-4 pin-b flex flex-row justify-center'>
  <div>
    Copyright <%= Time.current.year %> 
    | Made with <ion-icon name="heart"></ion-icon> on the <ion-icon name="globe"></ion-icon>.
  </div>
</footer>