<div class="my-1 px-1 w-full md:w-1/2 lg:my-2 lg:px-2 lg:w-1/4">
    <article class="overflow-hidden rounded border hover:shadow-lg">
        <header class="flex items-center justify-center leading-tight p-2 md:p-4">
            <h1 class="text-lg">
                <%= link_to genre.name, genre_path(genre), class: "no-underline hover:underline text-black" %>
            </h1>
        </header>
    </article>
</div>