<% background = "https://res.cloudinary.com/drg9hguhu/image/upload/v1591975046/comix/universe-2742113_1920.jpg" %>
<div class="h-96 flex flex-column justify-center items-center" style="background: url(<%= background %>) center">
  <div class="container flex flex-col text-center">
    <div>
      <h2 class="text-5xl font-hero text-cx-grain-yellow">
        Discover your universe
      </h2>
      <h3 class="text-xl font-hero text-cx-lavender-blush">
        Fresh comics by Independent creators.
      </h3>
    </div>
  </div>
</div>