<div class="h-96 flex flex-column justify-center items-center" style="background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);">
  <div class="container flex flex-col text-center">
    <div>
      <h2 class="text-5xl font-hero font-bold text-cx-grain-yellow">
        Discover your universe
      </h2>
      <h3 class="text-xl font-hero text-cx-lavender-blush">
        Fresh comics by Independent creators.
      </h3>
    </div>
  </div>
</div>