<div class="py-20" style="background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);">
  <div class="container mx-auto px-6 flex flex-row justify-between">
    <div>
      <h2 class="text-4xl font-bold mb-2 text-gray-100">
        Discover your universe
      </h2>
      <h3 class="text-2xl mb-8 text-cx-lavender-blush">
        Fresh comics by Independent creators.
      </h3>
    </div>
  </div>
</div>