<!-- Column -->
<div class="my-1 px-1 w-full md:w-1/2 lg:my-2 lg:px-2 lg:w-1/4">

    <!-- Article -->
    <article class="overflow-hidden rounded border hover:shadow-lg">

        <a href="#">
            <img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">
        </a>

        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
            <h1 class="text-lg">
                <a class="no-underline hover:underline text-black" href="#">
                    Monster Mash-up
                </a>
            </h1>
            <p class="text-grey-darker text-sm">
              &#36; 3.99
            </p>
        </header>

        <footer class="flex items-center justify-between leading-none p-2 md:p-4">
            <a class="flex items-center no-underline hover:underline text-black" href="#">
                <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random">
                <p class="ml-2 text-sm">
                    John Doe
                </p>
            </a>
            <a class="no-underline text-grey-darker hover:text-red-dark" href="#">
              <ion-icon name="share"></ion-icon>
            </a>
            <a class="no-underline text-grey-darker hover:text-red-dark" href="#">
              <ion-icon name="heart"></ion-icon>
            </a>
            <a class="no-underline text-grey-darker hover:text-red-dark" href="#">
              <ion-icon name="cart"></ion-icon>
            </a>
        </footer>

    </article>
    <!-- END Article -->

</div>
<!-- END Column -->
