<div class="pt-8 -mt-14">
  <div class="container mx-auto px-6">
    <%= form_tag search_path, method: :get do %>
      <%= text_field_tag :q, nil,
          placeholder: "Search for comics, stores",
          class: "w-full h-12 px-3 rounded mb-8 focus:outline-none focus:shadow-outline text-xl px-8 shadow" %>
    <% end %>
  </div>
</div>