<div class="my-1 w-full md:w-1/2 lg:my-2 lg:px-2 lg:w-1/2">
    <article class="overflow-hidden rounded-lg border hover:shadow-lg">
        <header class="flex items-center justify-center leading-tight p-2 md:p-4">
            <h1 class="text-lg">
                <p class="no-underline hover:underline text-black">
                    <%= image_tag "pixeltrue-web-design-1.svg" %>
                </p>
            </h1>
        </header>
    </article>
</div>
<div class="flex my-1 w-full md:w-1/2 lg:my-2 lg:px-2 lg:w-1/2 text-center">
    <div class="text-4xl no-underline hover:underline text-black m-auto">
        Create &amp; Post your work.
    </div>
</div>
<div class="flex my-1 w-full md:w-1/2 lg:my-2 lg:px-2 lg:w-1/2 text-center">
    <div class="text-4xl no-underline hover:underline text-black m-auto">
        Get discovered<br/>
    </div>
</div>
<div class="my-1 w-full md:w-1/2 lg:my-2 lg:px-2 lg:w-1/2">
    <article class="overflow-hidden rounded-lg border hover:shadow-lg">
        <header class="flex items-center justify-center leading-tight p-2 md:p-4">
            <h1 class="text-lg">
                <p class="no-underline hover:underline text-black">
                    <%= image_tag "pixeltrue-seo-1.svg" %>
                </p>
            </h1>
        </header>
    </article>
</div>
<div class="my-1 w-full md:w-1/2 lg:my-2 lg:px-2 lg:w-1/2">
    <article class="overflow-hidden rounded-lg border hover:shadow-lg">
        <header class="flex items-center justify-center leading-tight p-2 md:p-4">
            <h1 class="text-lg">
                <p class="no-underline hover:underline text-black">
                    <%= image_tag "pixeltrue-study-from-books-1.svg" %>
                </p>
            </h1>
        </header>
    </article>
</div>
<div class="flex my-1 w-full md:w-1/2 lg:my-2 lg:px-2 lg:w-1/2 text-center">
    <div class="text-4xl no-underline hover:underline text-black m-auto">
        Speak directly with your fans.<br/>
        <%= link_to "Start Selling", creator_signup_path,
            class: "px-4 py-2 leading-none border rounded text-cx-beaver border-cx-beaver font-black hover:border-transparent hover:text-cx-lavender-blush hover:bg-cx-purple mt-4 lg:mt-0"
        %>
    </div>
</div>