<div class="flex">
  <ul>
    <li>Stores
        <ul>
            <li>Create Store</li>
            <li><%= link_to 'Manage Store', dashboard_stores_path %></li>
        </ul>
    </li>
    <li>Products
        <ul>
            <li><%= link_to 'Manage Products', dashboard_products_path %></li>
        </ul>
    </li>
    <li>Creator</li>
    <li>Stats</li>
    <li>Community</li>
  </ul>
</div>