<ul>
  <li><%= link_to 'Dashboard home', dashboard_path %></li>
  <li><%= link_to 'Manage Store', dashboard_stores_path %></li>
  <li><%= link_to 'Manage Products', dashboard_products_path %></li>
</ul>
