<div class="flex">
  <ul>
    <li>Stores
        <ul>
            <li>Create Store</li>
            <li>Manage Store</li>
        </ul>
    </li>
    <li>Products
        <ul>
            <li>Create Products</li>
            <li>Manage Products</li>
        </ul>
    </li>
    <li>Creator</li>
    <li>Stats</li>
    <li>Community</li>
  </ul>
</div>