<a class="link pr-4" href="#"><ion-icon name="logo-facebook"></ion-icon></a>
<a class="link pr-4" href="#"><ion-icon name="logo-twitter"></ion-icon></a>
<a class="link pr-4" href="#"><ion-icon name="logo-pinterest"></ion-icon></a>
<a class="link pr-4" href="#"><ion-icon name="mail"></ion-icon></a>