<div class="android-header mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row center-items tan">
        <div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation">
                <a class="mdl-navigation__link" href="">Superhero</a>
                <a class="mdl-navigation__link" href="">Manga</a>
                <a class="mdl-navigation__link" href="">Indigenous</a>
                <a class="mdl-navigation__link" href="">Young Adult</a>
                <a class="mdl-navigation__link" href="">LGBTQ</a>
                <a class="mdl-navigation__link" href="" id="more-menu">
                <i class="ion-android-more-vertical"></i>
                </a>
            </nav>
        </div>
    </div>
</div>
