<%= render 'shared/hero_banner' %>
<div class="pt-8">
  <div class="container mx-auto px-6">
    <input class="w-full h-16 px-3 rounded mb-8 focus:outline-none focus:shadow-outline text-xl px-8 shadow" type="search" placeholder="Search...">
  </div>
</div>
<div class="text-center text-4xl">
  Ooh the smell of the new!
</div>
<%= render 'shared/product_card' %>
<%= render 'shared/footer' %>