<li>
  <%= link_to store_path(@store), class: "flex flex-col items-center justify-center overflow-hidden group", data: {"umami-event": "Creator-Card-Store-Click", "umami-event-product": @store.name} do %>
    <%= render(Stores::DisplayImageComponent.new(store: @store)) %>
    <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-gray-900">
      <%= @store.name %>
    </h3>
  <% end %>
</li>
