<section class="relative block" style="height: 500px;">
  <div
    class="absolute top-0 w-full h-full bg-center bg-cover"
    style="background-image: url(<%= rails_blob_url(@store.cover_image) %>)"
  >
  </div>
</section>