<%= render(PageTitleComponent.new(title: "About")) %>

<div class="relative bg-white">
  <div class="lg:absolute lg:inset-0">
    <div class="lg:absolute lg:inset-y-0 lg:left-0 lg:w-1/2">
      <%= image_tag "https://res.cloudinary.com/drg9hguhu/image/upload/v1666522726/comix/Lychgate.png",
          class: "h-56 w-full object-cover lg:absolute lg:h-full" %>
    </div>
  </div>
  <div class="relative px-4 pt-12 pb-16 sm:px-6 sm:pt-16 lg:mx-auto lg:grid lg:max-w-7xl lg:grid-cols-2 lg:px-8">
    <div class="lg:col-start-2 lg:pl-8">
      <div class="mx-auto max-w-prose text-base lg:ml-auto lg:mr-0 lg:max-w-lg">
        <h3 class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">About Us</h3>
        <p class="mt-8 text-lg text-gray-500">We are a platform for the creators and by the creators.</p>
        <div class="prose prose-purple mt-5 text-gray-500">
          <p>In 2017, I was working on my first comic, which was part of an anthology.</p>
          <p>While it was a great time, closely looking at how Kickstarter worked made me realise, how flawed the whole process is.</p>
          <p>That was the genesis of the idea for Comix. Not only did I see deficiencies in the current process of how comics are brought to life,
            I saw a lot of ways in which the community as a whole could benefit from some new tools.
          </p>
          <h3>Our Mission</h3>
          <ul role="list">
            <li>We will always remain an exclusive platform for the Indie community.</li>
            <li>We want the Indie creators to be in control of their own destiny!</li>
            <li>We want to build powerful tools for Indie creators and fans alike.</li>
            <li>Become an end-to-end ecosystem for Indie comics!</li>
          </ul>
          <h3>How we’re different</h3>
          <p>We're bringing some fresh thought into how the Indie comics will go into the next generation. No, we're not talking about
            the NFTs or blockchains, we're not into any of those things. Started by an Indie creator, we have walked a mile in the creators
            shoes. We have great empathy for our creators and will always keep them first. We're because of them and not the other way round.
          </p>
          <p>Though we are based in Australia, we have a global outlook and welcome everyone from around the globe on our platform.</p>
        </div>
      </div>
    </div>
  </div>
</div>
