<div class="container my-12 mx-auto px-4 md:px-12">
  <div class="text-center pt-8 text-4xl font-bold">
    For Creators
  </div>
  <div class="container my-12">
      <div class="flex flex-wrap -mx-1 lg:-mx-4">
        <div class="my-1 w-full md:w-1/2 lg:my-2 lg:px-2 lg:w-1/2">
            <article class="overflow-hidden rounded-lg border hover:shadow-lg">
                <header class="flex items-center justify-center leading-tight p-2 md:p-4">
                    <h1 class="text-lg">
                        <p class="no-underline hover:underline text-black">
                            <%= image_tag "pixeltrue-web-design-1.svg" %>
                        </p>
                    </h1>
                </header>
            </article>
        </div>
        <div class="flex my-1 w-full md:w-1/2 lg:my-2 lg:px-2 lg:w-1/2 text-center">
            <div class="text-4xl no-underline text-black m-auto">
                Create &amp; Post your work.<br/>
                <div class="text-xl">
                  You can bring your work to life with our crowdfunding, sell back catalogue
                  on our marketplace or add it to your crowdfunding campaign in just a few clicks!
                </div>
            </div>
        </div>
        <div class="flex my-1 w-full md:w-1/2 lg:my-2 lg:px-2 lg:w-1/2 text-center">
            <div class="text-4xl no-underline text-black m-auto">
                Get discovered<br/>
                <div class="text-xl">
                  Get discovered by new people through our marketplace.
                </div>
            </div>
        </div>
        <div class="my-1 w-full md:w-1/2 lg:my-2 lg:px-2 lg:w-1/2">
            <article class="overflow-hidden rounded-lg border hover:shadow-lg">
                <header class="flex items-center justify-center leading-tight p-2 md:p-4">
                    <h1 class="text-lg">
                        <p class="no-underline hover:underline text-black">
                            <%= image_tag "pixeltrue-seo-1.svg" %>
                        </p>
                    </h1>
                </header>
            </article>
        </div>
        <div class="my-1 w-full md:w-1/2 lg:my-2 lg:px-2 lg:w-1/2">
            <article class="overflow-hidden rounded-lg border hover:shadow-lg">
                <header class="flex items-center justify-center leading-tight p-2 md:p-4">
                    <h1 class="text-lg">
                        <p class="no-underline hover:underline text-black">
                            <%= image_tag "pixeltrue-study-from-books-1.svg" %>
                        </p>
                    </h1>
                </header>
            </article>
        </div>
        <div class="flex my-1 w-full md:w-1/2 lg:my-2 lg:px-2 lg:w-1/2 text-center">
            <div class="text-4xl no-underline text-black m-auto">
                Speak directly with your fans.<br/>
                <div class="text-xl">
                  Speak with your fans directly, retain them, survey ideas and retain them.
                </div></br/>
                <%= mail_to "contact@comix.one", "Get onboard",
                    class: "px-4 leading-none border rounded text-cx-beaver border-cx-beaver font-black hover:border-transparent hover:text-cx-lavender-blush hover:bg-cx-purple mt-4 lg:mt-0"
                %>
            </div>
        </div>
      </div>
  </div>
</div>