<%= render(PageTitleComponent.new(title: "For Creators")) %>

<div class="container my-12 mx-auto px-4 md:px-12">
  <div class="text-center pt-8 text-4xl font-bold">
    For Creators
  </div>
  <div class="container my-12">
      <div class="flex flex-wrap -mx-1 lg:-mx-4 text-center">
        <p class="mb-4">
            At this point, we're accepting Indie cretors and small press that have a back-catalogue and new projects planned this year.
            Please fill out the form below and we will be in touch asap to get you onboard!
        </p>
        <iframe class="airtable-embed" src="https://airtable.com/embed/shrDp4z8uPE4qBXb1?backgroundColor=purple" frameborder="0" onmousewheel="" width="100%" height="533" style="background: transparent; border: 1px solid #ccc;"></iframe>
      </div>
  </div>
</div>
