<nav class="flex items-center justify-between flex-wrap bg-white p-6 border-b text-lg">
  <div class="flex items-center justify-center flex-no-shrink text-black mr-6">
    <%= link_to admin_root_path, class: "flex flex-row items-center" do %>
        <%= render(LogoComponent.new(classes: "w-16")) %>
        <div class="text-3xl bold font-black self-center">Comi<i>X</i>admin</div>
    <% end %>
  </div>
  <div class="block lg:hidden">
    <button class="navbar-burger flex items-center px-3 py-2 border rounded text-black border-lavender-blush hover:text-black hover:border-white"
            aria-label="menu" aria-expanded="false" data-target="toggleNav">
      <svg class="fill-current h-3 w-3 sm:w-10 sm:h-10" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </button>
  </div>
  <div id="toggleNav" class="navbar-menu w-full ns:block lg:flex lg:items-center lg:w-auto sm:hidden md:hidden">
    <div class="lg:flex-end flex flex-row items-center">
      <%= button_to destroy_admin_user_session_path, method: :delete, class: "dropdown-item dropdown-logout" do %>
        <spam class="dropdown-logout-text">Logout</spam>
      <% end %>
    </div>
  </div>
</nav>
