<div class="my-1 px-1 lg:my-2 lg:px-1 lg:w-1/4 md:w-1/2 sm:w-full list-none cursor-pointer">
    <article class="overflow-hidden rounded-lg border hover:shadow-lg">
        <%= image_tag "https://res.cloudinary.com/drg9hguhu/image/upload/v1667569457/comix/78_tage_auf_der_stra%C3%9Fe_des_hasses_000_cover.jpg", class: "block max-h-tile w-full"  %>

        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
            <h1 class="text-lg text-left w-2/3"  title="Grill & Red">
                Grill &amp; Red
            </h1>
            <p class="text-grey-darker text-sm border border-dashed border-black rounded p-2 w-1/3 text-center">
                &#36; $15
            </p>
        </header>
    </article>
</div>