<div class="px-32">
  <div class="sedra-campaign-widget">
    <sedra-widget campaignid="2" themecolor="#7209B7" backersfontcolor="#000000" blurbfontcolor="#000000" campaignfontcolor="#000000" commentsfontcolor="#000000" contactfontcolor="#000000" creatorfontcolor="#000000" faqfontcolor="#000000" fundingfontcolor="#000000" paymentfontcolor="#000000" profilefontcolor="#000000" rewardsfontcolor="#000000" streamsfontcolor="#000000" tabbackgroundcolor="#FFFFFF" tabselectedfontcolor="#000000" tabunselectedfontcolor="#000000" topfontcolor="#000000" fontfamily="Poppins">
    </sedra-widget>
    <script type="text/javascript" src="https://miaufxz4w542.atlas.thrinacia.com/widget/production/getwidget.js"></script>
  </div>
</div>