<div class="sedra-campaign-widget">
  <sedra-widget campaignid="2" themecolor="#" backersfontcolor="#" blurbfontcolor="#" campaignfontcolor="#" commentsfontcolor="#" contactfontcolor="#" creatorfontcolor="#" faqfontcolor="#" fundingfontcolor="#" paymentfontcolor="#" profilefontcolor="#" rewardsfontcolor="#" streamsfontcolor="#" tabbackgroundcolor="#" tabselectedfontcolor="#" tabunselectedfontcolor="#" topfontcolor="#" fontfamily="">
  </sedra-widget>
  <script type="text/javascript" src="https://miaufxz4w542.atlas.thrinacia.com/widget/production/getwidget.js"></script>
</div>
