/*
  |-----------------------------------------------------------------------------
  | Fonts
  |-----------------------------------------------------------------------------
  */

.font-nunito {
  font-family: 'Nunito', sans-serif;
}

.font-quicksand {
  font-family: 'Quicksand', sans-serif;
}

.font-kalam {
  font-family: 'Kalam', cursive;
}