@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply font-body font-light;
  }

  .background-gradient {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  }

  .hero-gradient {
    background: linear-gradient(-45deg, #f7c759, #e73c7e, #ffb728, #7209b7);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}
@import 'actiontext.css';