body {
    margin: 0;
  }
  
  /* Disable ugly boxes around images in IE10 */
  
  a img {
    border: 0px;
  }
  
  ::-moz-selection, ::selection {
    background-color: #6ab344;
    color: #fff;
  }
  
  .mdl-textfield .is-focused {
    border-bottom: 1px solid #e9b000;
  }
  
  .android-search-box .mdl-textfield__input {
    color: rgba(0, 0, 0, 0.87);
  }
  
  .mdl-textfield {
    .mdl-textfield__input {
      font-family: 'Comfortaa', cursive;
      font-weight: 200;
      border-bottom: 1px solid #ffffff;
    }
    .mdl-textfield__label {
      color: #ffffff;
    }
  }
  
  .android-content {
    font-family: 'Comfortaa', cursive;
  }
  
  .android-header .mdl-menu__container {
    z-index: 50;
    margin: 0 !important;
  }
  
  .button-center {
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
    margin-top: -25px;
  }
  
  .android-footer a, .footer-social a:hover {
    color: #ffffff;
  }
  
  .action-icons {
    float: left;
    margin-left: 15px;
    i {
      font-size: 30px;
      color: #fabc28;
    }
  }
  
  .medium-icon {
    margin-bottom: 10px;
  }
  
  .button-center button {
    background: #fabc28;
    color: white;
  }
  
  .mdl-textfield--expandable {
    width: auto;
  }
  
  .center-items {
    justify-content: center;
  }
  
  .tan {
    background: #ffffff;
    .android-navigation .mdl-navigation__link {
      color: black;
    }
  }
  
  .mdl-navigation__link i {
    font-size: 24px;
  }
  
  .android-fab {
    position: absolute;
    right: 20%;
    bottom: -26px;
    z-index: 3;
    background: #64ffda !important;
    color: black !important;
  }
  
  .android-mobile-title {
    display: none !important;
  }
  
  .android-logo-image {
    /*height: 28px;*/
    width: 60px;
  }
  
  .mdl-layout__header {
    margin-top: 10px;
  }
  
  .mdl-layout__header-row .mdl-navigation__link {
    padding: 0 10px 0 10px;
  }
  
  .header {
    position: relative;
    background-size: cover;
    height: 800px;
  }
  
  .android-header {
    overflow: visible;
    background-color: white;
    .material-icons {
      color: #767777 !important;
    }
    .mdl-layout__drawer-button {
      background: transparent;
      color: #767777;
    }
    .mdl-navigation__link {
      /*font-family: 'Montserrat', sans-serif;*/
      font-family: 'Comfortaa', cursive;
      color: #757575;
      font-weight: 400;
      font-size: 16px;
    }
  }
  
  .android-navigation-container {
    /* Simple hack to make the overflow happen to the left instead... */
    direction: rtl;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    width: 500px;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .android-navigation {
    /* ... and now make sure the content is actually LTR */
    direction: ltr;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: 800px;
  }
  
  .android-search-box.is-focused + .android-navigation-container {
    opacity: 0;
    width: 100px;
  }
  
  .android-navigation .mdl-navigation__link {
    display: inline-block;
    height: 60px;
    line-height: 68px;
    background-color: transparent !important;
    border-bottom: 4px solid transparent;
    &:hover {
      border-bottom: 4px solid #fabc28;
    }
  }
  
  .android-search-box {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    margin-left: 16px;
    margin-right: 16px;
  }
  
  .android-more-button {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;
  }
  
  .android-drawer {
    border-right: none;
  }
  
  .android-drawer-separator {
    height: 1px;
    background-color: #dcdcdc;
    margin: 8px 0;
  }
  
  .android-drawer {
    .mdl-navigation__link.mdl-navigation__link {
      font-size: 14px;
      color: #757575;
    }
    span.mdl-navigation__link.mdl-navigation__link {
      color: #8bc34a;
    }
    .mdl-layout-title {
      position: relative;
      background: #6ab344;
      height: 160px;
    }
    .android-logo-image {
      position: absolute;
      bottom: 16px;
    }
  }
  
  .landing-masthead {
    position: relative;
    min-height: 750px;
    width: auto;
    background-color: #f3f3f3;
    background: url('images/header.jpg') center 30% no-repeat;
    background-size: cover;
  }
  
  .logo-font {
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: 'Comfortaa', cursive;
    line-height: 1;
    color: #ffffff;
    font-weight: 200;
  }
  
  .android-slogan {
    font-size: 60px;
    padding-top: 160px;
  }
  
  .android-sub-slogan {
    font-size: 21px;
    padding-top: 24px;
  }
  
  .down-arrow {
    i {
      font-size: 100px;
      margin-top: 300px;
      width: 100px;
      height: 100px;
      background: #e9b000;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
    }
    color: #ffffff;
  }
  
  .mdl-typography--display-1-color-contrast {
    font-family: 'Comfortaa', cursive;
    /*font-family: 'Montserrat', sans-serif;*/
    font-size: 40px;
  }
  
  .android-create-character {
    font-size: 21px;
    padding-top: 400px;
    a {
      text-decoration: none;
      color: #767777;
      font-weight: 300;
    }
  }
  
  .android-screen-section {
    position: relative;
    padding-top: 60px;
    padding-bottom: 80px;
  }
  
  .android-screens {
    text-align: right;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
  }
  
  .android-screen {
    text-align: center;
    .android-link {
      margin-top: 16px;
      display: block;
      z-index: 2;
    }
  }
  
  .android-image-link {
    text-decoration: none;
  }
  
  .android-wear {
    display: inline-block;
    width: 160px;
    margin-right: 32px;
    .android-screen-image {
      width: 40%;
      z-index: 1;
    }
  }
  
  .android-phone {
    display: inline-block;
    width: 64px;
    margin-right: 48px;
    .android-screen-image {
      width: 100%;
      z-index: 1;
    }
  }
  
  .android-tablet {
    display: inline-block;
    width: 110px;
    margin-right: 64px;
    .android-screen-image {
      width: 100%;
      z-index: 1;
    }
    .android-link {
      display: block;
      z-index: 2;
    }
  }
  
  .android-tv {
    display: inline-block;
    width: 300px;
    margin-right: 80px;
    .android-screen-image {
      width: 100%;
      z-index: 1;
    }
  }
  
  .android-auto {
    display: inline-block;
    width: 300px;
    overflow: hidden;
    .android-screen-image {
      display: block;
      height: 300px;
      z-index: 1;
    }
  }
  
  .android-wear-section {
    position: relative;
    background: url('images/wear.png') center top no-repeat;
    background-size: cover;
    height: 800px;
  }
  
  .android-wear-band {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #37474f;
  }
  
  .android-wear-band-text {
    max-width: 800px;
    margin-left: 25%;
    padding: 24px;
    text-align: left;
    color: white;
    p {
      padding-top: 8px;
    }
  }
  
  .android-link {
    text-decoration: none;
    color: #000000 !important;
    &:hover {
      color: #fabc28 !important;
    }
    .material-icons {
      position: relative;
      top: -1px;
      vertical-align: middle;
    }
  }
  
  .android-alt-link {
    text-decoration: none;
    color: #64ffda !important;
    font-size: 16px;
    &:hover {
      color: #00bfa5 !important;
    }
    .material-icons {
      position: relative;
      top: 6px;
    }
  }
  
  .android-customized-section {
    text-align: center;
  }
  
  .android-customized-section-text {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 16px 0 16px;
    p {
      padding-top: 16px;
    }
  }
  
  .android-customized-section-image {
    background: url('images/devices.jpg') center top no-repeat;
    background-size: cover;
    height: 400px;
  }
  
  .mdl-mega-footer--left-section {
    font-size: 30px;
  }
  
  .android-more-section {
    padding: 30px 0;
    max-width: 1044px;
    margin-left: auto;
    margin-right: auto;
    .android-section-title {
      margin-left: 12px;
      padding-bottom: 24px;
    }
  }
  
  .android-card-container {}
  
  .mdl-card {
    border-radius: 0px;
  }
  
  .mdl-card-border {
    border: .5px solid black;
  }
  
  .detail-heading {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
  }
  
  .android-card-container {
    .mdl-card__media {
      overflow: hidden;
      background: transparent;
      img {
        width: 100%;
      }
    }
    .mdl-card__title {
      background: transparent;
      height: auto;
    }
    .mdl-card__title-text {
      color: black;
      height: auto;
    }
    .mdl-card__supporting-text {
      height: auto;
      color: black;
      padding-bottom: 56px;
    }
    .mdl-card__actions {
      position: absolute;
      bottom: 0;
      a {
        border-top: none;
        font-size: 16px;
      }
    }
  }
  
  .android-footer {
    background-color: #fafafa;
    position: relative;
    a:hover {
      color: #8bc34a;
    }
    .mdl-mega-footer--top-section::after, .mdl-mega-footer--middle-section::after {
      border-bottom: none;
    }
    .mdl-mega-footer--bottom-section {
      position: relative;
      a {
        margin-right: 2em;
      }
    }
    .mdl-mega-footer--right-section a .material-icons {
      position: relative;
      top: 6px;
    }
  }
  
  .android-link-menu:hover {
    cursor: pointer;
  }
  
  /**** Mobile layout ****/
  @media (max-width: 900px) {
    .android-navigation-container {
      display: none;
    }
    .android-title {
      display: none !important;
    }
    .android-mobile-title {
      display: block !important;
      position: absolute;
      left: calc(50% - 70px);
      top: 12px;
      transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    }
    /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
       consecutive "+" operators in some cases. Therefore, we need to use both
       here to cover all the bases. */
    .android.android-search-box.is-focused ~ .android-mobile-title, .android-search-box.is-focused + .android-navigation-container + .android-mobile-title {
      opacity: 0;
    }
    .android-more-button {
      display: none;
    }
    .android-search-box {
      &.is-focused {
        width: calc(100% - 48px);
      }
      .mdl-textfield__expandable-holder {
        width: 100%;
      }
    }
    .android-be-together-section {
      height: 350px;
    }
    .android-slogan {
      font-size: 26px;
      margin: 0 16px;
      padding-top: 24px;
    }
    .android-sub-slogan {
      font-size: 16px;
      margin: 0 16px;
      padding-top: 8px;
    }
    .android-create-character {
      padding-top: 200px;
      font-size: 16px;
      img {
        height: 12px;
      }
    }
    .android-fab {
      display: none;
    }
    .android-wear-band-text {
      margin-left: 0;
      padding: 16px;
    }
    .android-footer .mdl-mega-footer--bottom-section {
      display: none;
    }
  }