<div class="max-h-screen w-full max-w-lg relative">
    <div class="m-1 bg-white rounded shadow">
        <div class="p-8">
            <div class="mt-2 text-xl sm:hidden md:hidden lg:flex items-start justify-around px-4">
                <%= render partial: "store_details", locals: { product: @product } %>
            </div>
            <div class="mt-2 text-xl sm:hidden md:hidden lg:flex items-start justify-around px-4">
                <% @product.collaborations.each do |collaboration| %>
                    <%= collaboration.creator&.name %>
                <% end %>
            </div>
        </div>
    </div>
</div>