<div class="text-center text-3xl">
  You might also like
</div>
<div class="container my-12 mx-auto px-4 md:px-12">
  <div class="py-10 border-t text-center">
    <div class="flex flex-wrap justify-center">
      <% other_products.each do |product| %>
        <%= render 'shared/product_card', product: product %>
      <% end %>
    </div>
  </div>
</div>