<div class="mt-2 text-xl sm:hidden md:hidden lg:flex items-center justify-center">
  <img
    alt="..."
    src="https://picsum.photos/800/800/?random"
    class="shadow-xl rounded-lg border-none"
    style="max-width: 100px;"
  />
</div>
<div class="mt-2 text-xl sm:hidden md:hidden lg:flex items-center justify-center">
   <%= product.store.name %>
</div>
