<%= render(PageTitleComponent.new(title: "Browse Comics")) %>

<section>
  <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 sm:py-12 lg:px-8">
    <header>
      <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
        Latest Comics
      </h2>
    </header>

    <ul class="grid gap-4 mt-4 sm:grid-cols-2 lg:grid-cols-4">
      <% @products.each do |product| %>
        <% cache product do %>
          <%= render(Products::CardComponent.new(product: product, number_of_products: 4)) %>
        <% end %>
      <% end %>
    </ul>
  </div>
  <%= render(PaginationComponent.new(pagy: @pagy)) %>
</section>